<div id="About" class="container" style="padding-top: 120px;">
    <div class="row">
        <div class="col-12">
            <h4 style="font-family:Georgia, 'Times New Roman', Times, serif; letter-spacing: 5px;font-size: 20px;">ABOUT ME</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span style="font-weight: bold;letter-spacing: 5px">Who Am I ?</span><br>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-12">
                Hi I'm Ankur Goyal. I am a web application developer currently working in TCI as a .NET Developer.
                I develop custom web applications over Angualar, .NET
        </div>
    </div>
    <div class="row abouttxt">
        <div class="col-12">
            
                A creative thinker who likes to explore alternative solutions to problems and have an open mind 
                about what will work best. Creativity has made me an effective team leader because I can anticipate 
                problems and innovate solutions. An extremely organized person who is focused on producing results. 
                Realistic when setting goals, consistent in developing ways to efficiently achieve and often exceed 
                those goals.
            
        </div>
    </div>
    <div class="row abouttxt">
        <div class="col-12">
            
                Kind of person who knows how to execute difficult tasks with precision and enjoy solving problems, 
                troubleshooting issues, and coming up with solutions in a timely manner. Ability to effectively communicate 
                with others drives my ability to solve a variety of problems.
            
        </div>
    </div>
    <div class="row abouttxt">
        <div class="col-12">
            
                I really enjoy meeting and working with people of different skill-sets , and am known for being a 
                great listener and clear communicator, whether I’m engaging with colleagues or employers. 
              
        </div>  
    </div>
</div>