<div id="Experience" class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h2 style="font-family: Georgia, 'Times New Roman';letter-spacing: 5px;font-size: 20px;">EXPERIENCE</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12" @fade> 
            <div class="card mb-3 shadow-lg bg-white">
                <div class="row no-gutters">
                    <div class="col-md-4 expheading" style="background-color: #00334D;">
                        <span> .Net Developer</span>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Transport Corporation of India Limited</h5>
                            <p class="card-text">Accepted a new role and opportunity to explore new things in December 2019 at TCI. UI/UX Development was new to me so I was very excited to start this journey. I was involved in the development of a lot of custom app.</p>
                            <p class="card-text"><small class="text-muted">Deccember 2019 - Present</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 shadow-lg bg-white" @flyInOut>
                <div class="row no-gutters">
                  <div class="col-md-4 expheading" style="background-color: #00334D;">
                    <span>Software Developer</span>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Further Systems Private Limited</h5>
                      <p class="card-text">Soon after completing my training on .NET framework and C#, I joined a startup and started working as a .NET developer. During this span I worked on a lot of complex projects, some of them involved building Web Api, working on databases SQL Server. </p>
                      <p class="card-text"><small class="text-muted">June 2019 - December 2019</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 shadow-lg bg-white">
                <div class="row no-gutters">
                  <div class="col-md-4 expheading" style="background-color: #00334D;">
                    <span>Trainee</span>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Ernst & Young Services Private Limited</h5>
                      <p class="card-text">After my graduation I landed at EY (Noida office) as a Software Developer - Trainee. I learnt new programming concepts during this span especially MVC.Net and C# programming and applied those concepts in production like projects to get familiar with the application development process.</p>
                      <p class="card-text"><small class="text-muted">January 2019 - June 2019</small></p>
                    </div>
                  </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

