<div id="Contact" class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h6 style="font-family:Calibri; letter-spacing: 8px;font-size: 18px; color: grey; margin-bottom: 20px;">GET IN TOUCH</h6>
            <h4 style="font-family:Georgia, 'Times New Roman', Times, serif; letter-spacing: 5px;font-size: 20px;">CONTACT</h4>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;border: none;">
        <div class="row no-gutters">
          <div class="col-md-1" style="margin-top: 10px;">
            <span class="fa fa-envelope" style="font-size:35px;"></span>
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h5 class="card-title" style="text-align: left;">
                <a href="#" data-toggle="modal" data-target="#exampleModalCenter">goyal.ankur240@gmail.com</a>
              </h5>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px; border: none;">
        <div class="row no-gutters">
          <div class="col-md-1" style="margin-top: 10px;">
            <span class="fa fa-phone" style="font-size:35px;"></span>
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h5 class="card-title" style="color:#007bff;">9896675867</h5>
            </div>
          </div>
        </div>
    </div>
</div>
  

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Feel Free To Contact Me!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control" id="InputName" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Subject" class="form-control" id="InputSubject" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" id="InputEmail" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Message" class="form-control" id="InputMessage">
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>
