<div id="Skills" class="container" style="padding-top: 70px;">
    <div class="row skillrow">
        <div class="col-12">
            <h4 style="font-family:Georgia, 'Times New Roman', Times, serif; letter-spacing: 5px;font-size: 20px;">SKILLS</h4>
            <p>
                "A winner is someone who recognizes his God-given talents, works his tail off to develop them into skills,<br>
                 and uses these skills to accomplish his goals." - Larry Bird"
            </p>            
        </div>
    </div>
    
    <div class="row skillrow">
        <div class="col-6">
            <h5 class="skillname">Angular</h5>
        </div>
        <div class="col-6">
           <h5 class="skillname">Node Js</h5>
        </div>
    </div>
    <div class="row skillrow">
        <div class="col-6" >
            <h5 class="skillname">Python</h5>
        </div>
        <div class="col-6">
            <h5 class="skillname">Java Script</h5>
        </div>
    </div>
    <div class="row skillrow">
        <div class="col-6">
            <h5 class="skillname">Jquery</h5>
        </div>
        <div class="col-6 skillcol">
            <h5 class="skillname">Bootstrap</h5>
        </div>
    </div>
    <div class="row skillrow">
        <div class="col-6">
            <h5 class="skillname">ASP.NET MVC</h5>
        </div>
        <div class="col-6">
            <h5 class="skillname">MS SQL SERVER</h5>
        </div>
    </div>

</div>
