
<div style="background-image: url('assets/images/cover-1.jpg');height: 600px;">  
<div class="container" style="align-content: center; padding-top: 100px;"> 
    <div class="row" style="text-align: center;">
        
        <div class="col-12" >
            <img class="profile-photo" src="assets/images/profile.jpg">
        </div>
        
        <div class="col-12">
            <h3 style="font-weight: 500; font-family: Arial, Helvetica, sans-serif; font-size: 35px;color: white;">Ankur Goyal</h3>
        </div>
        <div class="col-12" style="color: white;font-weight:normal;font-size: 18px;font-family:Arial, Helvetica, sans-serif">
            WEB DEVELOPER, FULL STACK DEVELOPER
        </div>
    </div>

    
    <div class="row" style="text-align: center; padding-top: 140px;">
        <div class="col-12">
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div> 
</div>
</div>